

#cont1 img{
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    overflow: hidden;
}

#formrow{
    position: relative;
    top:2rem;
}

#secondrow{
    margin-left: 5rem;
    margin-top: 5rem;
    margin-right: 5rem;
}
#card2img{
    height: 156px;
}

.modal1{
    padding-right:1rem ;
    padding-left: 1rem!important;
}
#footmodal{
    justify-content: center;
    padding-right:1rem ;
    padding-left: 1rem!important;
}

